python<=3.10
tensorflow #conda install tensorflow, needs python = 3.10 or less
torch #conda install pytorch torchvision torchaudio cpuonly -c pytorch # for cpu
deepxde # conda install -c conda-forge deepxde
numpy
scipy
docopt

conda install python=3.10.0
conda install tensorflow
conda install pytorch torchvision torchaudio cpuonly -c pytorch
conda install -c conda-forge deepxde
conda install numpy scipy docopt
